#card .name {
  font-weight: bold;
  text-transform: uppercase;
}

#card .debt {
  font-weight: 300;
  font-size: 16px;
}

#card .card-box {
  transition: box-shadow .3s;
  cursor: pointer;
}

#card .card-box:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}
